[submodule "project/jni/iconv/src"]
	path = project/jni/iconv/src
	url = https://github.com/pelya/libiconv-libicu-android.git
	branch = master
	update = merge
[submodule "project/jni/application/openttd/src"]
	path = project/jni/application/openttd/src
	url = https://github.com/n-ice-community/openttd-android.git
	branch = 12
[submodule "project/jni/sdl2"]
	path = project/jni/sdl2
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "project/jni/sdl2_image"]
	path = project/jni/sdl2_image
	url = https://github.com/libsdl-org/SDL_image
	branch = main
[submodule "project/jni/sdl2_ttf"]
	path = project/jni/sdl2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = main
[submodule "project/jni/sdl2_mixer"]
	path = project/jni/sdl2_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = master
